@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	--plyr-color-main: #ceae55;
	--plyr-badge-border-radius: 0;
	--plyr-control-spacing: 0;
	--plyr-control-radius: 0;
	--plyr-menu-radius: 0;
	--plyr-range-thumb-background: transparent;
	--plyr-range-thumb-shadow: none;
	--plyr-range-thumb-height: 13px;
	--plyr-range-track-height: 13px;
	--plyr-range-thumb-active-shadow-width: 0;
}

@layer base {
	html {
		font-size: 90%;

		@screen md {
			font-size: 100%;
		}
	}

	a {
		@apply underline;
	}

	input, button {
		@apply focus:outline-none;
	}
}


.plyr__tooltip {
	padding: 8px !important;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
	border-radius: 0 !important;
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
	visibility: hidden !important;
}

.plyr__progress__buffer::-webkit-progress-value,
.plyr__progress__buffer::-moz-range-progress {
	display: none !important;
}
